<div class="card text-center form-box">
  <div class="card-body">

  <!-- use Font Meme -->
  <%= image_tag("https://fontmeme.com/permalink/190421/6d63b1b1eeebbfd2011a7024a34c39e2.png", class: "insta-title-img") %>
  <!-- use Font Meme -->

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "#{OmniAuth::Utils.camelize(provider)} で登録する", omniauth_authorize_path(resource_name, provider), class: "btn btn-primary" %><br />
    <% end %>
  <% end %>

  <p class="card-text" style="margin-top:10%;">または</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <% if resource.errors.any? %>
  <ul>
    <% resource.errors.full_messages.rotate(2).each do |message| %>
      <li class="sign-up-errors"><%= message %></li>
    <% end %>
  </ul>
  <% end %>


  <div style="margin:40px; 0 auto;">

    <div class="form-group">
      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "username", placeholder: "ユーザーネーム", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(６文字以上)", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認用パスワード", class: "form-control" %>
      </div>
    </div>


  </div>

  <div class="actions ">
    <%= f.submit "登録する" ,class: "btn btn-primary" %>
  </div><br />
  <% end %>

  <p class="card-text">アカウントをお持ちの方は
    <%= link_to "こちら", new_session_path(resource_name) %>
  </p>


  </div>
</div>
