
<div class="login-box">

<div class="card text-center">
  <div class="card-header">

    <!-- use Font Meme -->
    <%= image_tag("https://fontmeme.com/permalink/190421/6d63b1b1eeebbfd2011a7024a34c39e2.png", class: "insta-title-img") %>
    <!-- use Font Meme -->


  </div>
  <div class="card-body">

    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "#{OmniAuth::Utils.camelize(provider)} でログイン", omniauth_authorize_path(resource_name, provider), class: "btn btn-primary" %><br />
      <% end %>
    <% end %>

    <p class="card-text">または</p>





    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div style="margin:40px; 0 auto;">

    <div class="form-group">
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control", id: "exampleInputEmail1" %>
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "form-control", id: "exampleInputEmail1" %>
      </div>
    </div>


    </div>




      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions ">
        <%= f.submit "Log in" ,class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>



  </div>
  <div class="card-footer text-muted">
  </div>
</div>





</div>
