<div class="card text-center" style="margin-top:10%;">
<div class="card-body">

<%= form_with model: @post do |f| %>
<div class="form-group">
  <%= f.text_field :caption, placeholder: "何かコメントしよう" %>
</div>

<div class="form-group">
  <%= f.fields_for :photos do |i| %>
    <%= i.file_field :image %>
  <% end %>
</div>

  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>
</div>
</div>
